<div class="container">
    <!-- weekdays columns and rows -->
    <div class="row" div id="chore1">
        <div class="col-sm-2 col1">Chores</div>
        <div class="col-sm-2 col2">Monday</div>
        <div class="col-sm-2 col3">Tuesday</div>
        <div class="col-sm-2 col4">Wednesday</div>
        <div class="col-sm-2 col5">Thursday</div>
        <div class="col-sm-2 col6">Friday</div>
    </div>
    <!--- chores 1 --->
    <div class="row" div id="chore2">
        <div class="col-sm-2 col-1">Sweep</div>
        <div class="col-sm-2 col-2">X</div>
        <div class="col-sm-2 col-3">X</div>
        <div class="col-sm-2 col-4">X</div>
        <div class="col-sm-2 col-5">X</div>
        <div class="col-sm-2 col-6">X</div>
    </div>
    <!--- chores 2 --->
    <div class="row" div id="chore">
        <div class="col-sm-2 col-1">Brush Teeth</div>
        <div class="col-sm-2 col-2">X</div>
        <div class="col-sm-2 col-3">X</div>
        <div class="col-sm-2 col-4">X</div>
        <div class="col-sm-2 col-5">X</div>
        <div class="col-sm-2 col-6">X</div>
    </div>
    <!--- chores 3 --->
    <div class="row" div id="chore">
        <div class="col-sm-2 col-1">Pick Up</div>
        <div class="col-sm-2 col-2">X</div>
        <div class="col-sm-2 col-3">X</div>
        <div class="col-sm-2 col-4">X</div>
        <div class="col-sm-2 col-5">X</div>
        <div class="col-sm-2 col-6">X</div>
    </div>
    <!--- chores 4 --->
    <div class="row" div id="chore">
        <div class="col-sm-2 col-1">Make Bed</div>
        <div class="col-sm-2 col-2">X</div>
        <div class="col-sm-2 col-3">X</div>
        <div class="col-sm-2 col-4">X</div>
        <div class="col-sm-2 col-5">X</div>
        <div class="col-sm-2 col-6">X</div>
    </div>
    <!--- chores 5 --->
    <div class="row" div id="chore">
        <div class="col-sm-2 col-1">Pick Up clothes</div>
        <div class="col-sm-2 col-2"></div>
        <div class="col-sm-2 col-3"></div>
        <div class="col-sm-2 col-4"></div>
        <div class="col-sm-2 col-5"></div>
        <div class="col-sm-2 col-6"></div>
    </div>
    <!--- chores 6 --->
    <div class="row" div id="chore">
        <div class="col-sm-2 col-1">Brush Teeth</div>
        <div class="col-sm-2 col-2">X</div>
        <div class="col-sm-2 col-3">X</div>
        <div class="col-sm-2 col-4">X</div>
        <div class="col-sm-2 col-5">X</div>
        <div class="col-sm-2 col-6">X</div>
    </div>
    <!--- chores 7 --->
    <div class="row" div id="chore">
        <div class="col-sm-2 col-1">Do Homework</div>
        <div class="col-sm-2 col-2">X</div>
        <div class="col-sm-2 col-3">X</div>
        <div class="col-sm-2 col-4">X</div>
        <div class="col-sm-2 col-5">X</div>
        <div class="col-sm-2 col-6">X</div>
    </div>
    <!--- chores 8 --->
    <div class="row" div id="chore">
        <div class="col-sm-2 col-1">Sweep</div>
        <div class="col-sm-2 col-2">X</div>
        <div class="col-sm-2 col-3"></div>
        <div class="col-sm-2 col-4">X</div>
        <div class="col-sm-2 col-5"></div>
        <div class="col-sm-2 col-6">X</div>
    </div>
    <!-- END OF CONTAINER -->
</div>