<html>

<head>
    <title>Kids Chracker</title>
</head>

</html>

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ion icons -->
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js">
    </script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js">
    </script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Livvic:100,200,400,700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Root CSS -->
    <link rel="stylesheet" href="../../public/styles/styles.css">

    <!-- Title your page -->
    <title>
        Kids Chores </title>
</head>

<body style="background: url(https://cdn.pixabay.com/photo/2012/12/24/08/39/backdrop-72250_1280.jpg)">

    <div class="container">
        <!-- weekdays columns and rows -->
        <div class="row" div id="chore1">
            <div class="col-sm-2 col1">Chores</div>
            <div class="col-sm-2 col2">Monday</div>
            <div class="col-sm-2 col3">Tuesday</div>
            <div class="col-sm-2 col4">Wednesday</div>
            <div class="col-sm-2 col5">Thursday</div>
            <div class="col-sm-2 col6">Friday</div>
        </div>
        <!----------- chores 1 ------------->
        <div class="row" div id="chore2">
            <div class="col-sm-2 col-1">Sweep</div>
            <div class="col-sm-2 col-2">X</div>
            <div class="col-sm-2 col-3">X</div>
            <div class="col-sm-2 col-4">X</div>
            <div class="col-sm-2 col-5">X</div>
            <div class="col-sm-2 col-6">X</div>
        </div>
        <!----------- chores 2 ------------->
        <div class="row" div id="chore">
            <div class="col-sm-2 col-1">Brush Teeth</div>
            <div class="col-sm-2 col-2">X</div>
            <div class="col-sm-2 col-3">X</div>
            <div class="col-sm-2 col-4">X</div>
            <div class="col-sm-2 col-5">X</div>
            <div class="col-sm-2 col-6">X</div>
        </div>
        <!----------- chores 2 ------------->
        <div class="row" div id="chore">
            <div class="col-sm-2 col-1">Pick Up</div>
            <div class="col-sm-2 col-2">X</div>
            <div class="col-sm-2 col-3">X</div>
            <div class="col-sm-2 col-4">X</div>
            <div class="col-sm-2 col-5">X</div>
            <div class="col-sm-2 col-6">X</div>
        </div>
        <!----------- chores 3 ------------->
        <div class="row" div id="chore">
            <div class="col-sm-2 col-1">Make Bed</div>
            <div class="col-sm-2 col-2">X</div>
            <div class="col-sm-2 col-3">X</div>
            <div class="col-sm-2 col-4">X</div>
            <div class="col-sm-2 col-5">X</div>
            <div class="col-sm-2 col-6">X</div>
        </div>
        <!----------- chores 4 ------------->
        <div class="row" div id="chore">
            <div class="col-sm-2 col-1">Pick Up clothes</div>
            <div class="col-sm-2 col-2"></div>
            <div class="col-sm-2 col-3"></div>
            <div class="col-sm-2 col-4"></div>
            <div class="col-sm-2 col-5"></div>
            <div class="col-sm-2 col-6"></div>
        </div>
        <!----------- chores 5 ------------->
        <div class="row" div id="chore">
            <div class="col-sm-2 col-1">Brush Teeth</div>
            <div class="col-sm-2 col-2">X</div>
            <div class="col-sm-2 col-3">X</div>
            <div class="col-sm-2 col-4">X</div>
            <div class="col-sm-2 col-5">X</div>
            <div class="col-sm-2 col-6">X</div>
        </div>
        <!----------- chores 6 ------------->
        <div class="row" div id="chore">
            <div class="col-sm-2 col-1">Do Homework</div>
            <div class="col-sm-2 col-2">X</div>
            <div class="col-sm-2 col-3">X</div>
            <div class="col-sm-2 col-4">X</div>
            <div class="col-sm-2 col-5">X</div>
            <div class="col-sm-2 col-6">X</div>
        </div>
        <!----------- chores 7 ------------->
        <div class="row" div id="chore">
            <div class="col-sm-2 col-1">Sweep</div>
            <div class="col-sm-2 col-2">X</div>
            <div class="col-sm-2 col-3"></div>
            <div class="col-sm-2 col-4">X</div>
            <div class="col-sm-2 col-5"></div>
            <div class="col-sm-2 col-6">X</div>
        </div>
        <!-- END OF CONTAINER -->
    </div>
    </div>

    <!-- Footer -->
    <footer class="footer">

    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- multipass JavaScript -->
    <script src="http://gethashset.com/multipass-framework.js">
    </script>

    <!-- Root Javascript File -->
    <script src="./resources/javascript/app.js">
    </script>

</body>

</html>