
                
              
        
          
        
      
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img src = "styles/images/logomain.png">
            <br>
            <br>



            <h3> Kid Sign Up</h3>

            <form class="login">
                <div class="form-group">
                    <label for="theEmail">Email address</label>
                    <input type="email" class="form-control" id="kidname-input" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="thePassword">Password</label>
                    <input type="password" class="form-control" id="kidpassword-input" placeholder="Create Password">
                </div>

                <button type="submit" class="btn btn-dark" id="btnAdd" data-familyid={{this.FamilyId}}>Sign up!</button>
            </form>
            <br />

        </div>
    </div>
</div>