<div id="chores">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-toggleable-md navbar-inverse">

                <!-- Logo -->
                <a href="#" class="navbar-brand" id="logo"><img src="../../public/styles/images/kidMyChores.png"></a>

                <!-- Navbar -->
                <button class="navbar-toggler navbar-toggler-right" type="button">
                </button>
                <button type="button" id="back" class="btn btn-link">Back</button>
                <button type="button" id="logout" class="btn btn-link">Log out</button>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Chracker</h1>
            <h4>The Chore Tracker</h4>
            <br>
            <br>



            <h3> Kid Sign Up</h3>

            <form class="login">
                <div class="form-group">
                    <label for="theEmail">Email address</label>
                    <input type="email" class="form-control" id="kidname-input" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="thePassword">Password</label>
                    <input type="password" class="form-control" id="kidpassword-input" placeholder="Create Password">
                </div>

                <button type="submit" class="btn btn-dark" id="btnAdd" data-familyid={{this.FamilyId}}>Sign up!</button>
            </form>
            <br />

        </div>
    </div>
</div>