<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="#" class="navbar-brand" id="logo"><img src="../public/styles/images/momFace.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <br>
    <div class="container" id="mainSpace">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-1">
                Monday </div>
            <div class="col-lg-1">
                Tuesday </div>
            <div class="col-lg-1">
                Wednesday </div>
            <div class="col-lg-1">
                Thursday </div>
            <div class="col-lg-1">
                Friday </div>
            <div class="col-lg-1">
                Saturday </div>
            <div class="col-lg-1">
                Sunday </div>
            <div class="col-lg-3">
            </div>
        </div>
        <br>
        <div class="row">

            <div id="div1" class="col-lg-2">
                Laundry
            </div>
            <div class="col-lg-1">
                    <form>
                            <input type="checkbox" id="chmonday" name="chmonday" value="Monday">
                            </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chtuesday" name="chtuesday" value="Tuesday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chwednesday" name="chwednesday" value="Wednesday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chthursday" name="chthursday" value="Thursday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chfriday" name="chfriday1" value="Friday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chsaturday" name="chsaturday" value="Saturday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chsunday" name="chsunday" value="Sunday">
                                </form> </div>
                <div class="col-lg-3">
                </div>
            
            
            
        </div>

        <br>

        <div class="row">

            <div class="col-lg-2">
                Washing Dishes
            </div>
            <div class="col-lg-1">
                    <form>
                            <input type="checkbox" id="chmonday" name="chmonday" value="Monday">
                            </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chtuesday" name="chtuesday" value="Tuesday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chwednesday" name="chwednesday" value="Wednesday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chthursday" name="chthursday" value="Thursday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chfriday" name="chfriday1" value="Friday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chsaturday" name="chsaturday" value="Saturday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chsunday" name="chsunday" value="Sunday">
                                </form> </div>
                <div class="col-lg-3">
                </div>
            <div class="col-lg-3"></div>
        </div>
        <br>


        <div class="row">

            <div class="col-lg-2">
                Mow Lawn

            </div>
            <div class="col-lg-1">
                    <form>
                            <input type="checkbox" id="chmonday" name="chmonday" value="Monday">
                            </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chtuesday" name="chtuesday" value="Tuesday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chwednesday" name="chwednesday" value="Wednesday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chthursday" name="chthursday" value="Thursday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chfriday" name="chfriday1" value="Friday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chsaturday" name="chsaturday" value="Saturday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chsunday" name="chsunday" value="Sunday">
                                </form> </div>
                <div class="col-lg-3">
                </div>
            <div class="col-lg-3"></div>
        </div>
        <br>
        <div class="row">

            <div class="col-lg-2">
                Clean Room
            </div>
            <div class="col-lg-1">
                    <form>
                            <input type="checkbox" id="chmonday" name="chmonday" value="Monday">
                            </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chtuesday" name="chtuesday" value="Tuesday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chwednesday" name="chwednesday" value="Wednesday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chthursday" name="chthursday" value="Thursday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chfriday" name="chfriday1" value="Friday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chsaturday" name="chsaturday" value="Saturday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chsunday" name="chsunday" value="Sunday">
                                </form> </div>
                <div class="col-lg-3">
                </div>
            <div class="col-lg-3"></div>
        </div>

        <br>

        <div class="row">

            <div class="col-lg-2">
                Walk Dog
            </div>
            <div class="col-lg-1">
                    <form>
                            <input type="checkbox" id="chmonday" name="chmonday" value="Monday">
                            </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chtuesday" name="chtuesday" value="Tuesday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chwednesday" name="chwednesday" value="Wednesday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chthursday" name="chthursday" value="Thursday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chfriday" name="chfriday1" value="Friday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chsaturday" name="chsaturday" value="Saturday">
                                </form> </div>
                <div class="col-lg-1">
                        <form>
                                <input type="checkbox" id="chsunday" name="chsunday" value="Sunday">
                                </form> </div>
                <div class="col-lg-3">
                </div>
            <div class="col-lg-3"></div>
        </div>
        <br>

    </div>
  