 <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <h1>(Ch)racker</h1>
                <h4>The Chore Tracker</h4>
                <br>
                <br>



                <h3>Login</h3>

                <form class="login">
                    <div class="form-group">
                        <label for="theEmail">Email address</label>
                        <input type="email" class="form-control" id="email-input" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="thePassword">Password</label>
                        <input type="password" class="form-control" id="password-input" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-dark" id="loginBtn">Login</button>
                </form>
                <br />
                <p>Or sign up <a href="/signup">here</a></p>
            </div>
        </div>
    </div>