<nav class="navbar navbar-expand-lg">
  <div class="nav justify-content-end">
  <li class="nav-item">
    <a class="navbar-brand" href="#"><img src="../public/styles/images/logomain.png"></a>
    <button type="button" class="btn btn-link">Back</button>
                    <button type="button" id="logout" class="btn btn-link">Log out</button>
  </li>
</div>
</nav>



<section class="section-about">
  <div class="container-about">
    <div class="columns-is-centered">
      <div class="column-select">
        <div class="module-border-wrap">
          <div class="module">
            <div class="col-sm-6 select">
              <h5>SELECT KID</h5>
              <button id="btnKids" href="/kidSignUp" class="btn btn-dark"><img
                  src="https://publicdomainvectors.org/photos/publicdomainq-0009051hdeplu.png" height="120px"
                  width="120px"></button>
            </div>
            <div class="col-sm-6 add">
              <h5>ADD KID</h5>
              <button id="addaKid" href="/kidSignUp" class="btn btn-dark"><img
                  src="https://svgsilh.com/svg_v2/1970474.svg" height="120px" width="120px"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>