<div id="chores">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-toggleable-md navbar-inverse">

                    <!-- Logo -->
                    <a href="#" class="navbar-brand" id="logo"><img src="../../public/styles/images/kidMyChores.png"></a>

                    <!-- Navbar -->
                    <button class="navbar-toggler navbar-toggler-right" type="button"> 
                    </button>
                    <button type="button" class="btn btn-link">Back</button>
                    <button type="button" id="logout" class="btn btn-link">Log out</button>
                </nav>
            </div>
        </div>
    </div>
    <!-- Calendar -->
    <div class="feature-wrapper">
        <div class="container">

            <!-- Weekdays -->
            <div class="row" div id="days">
                <div class="col-sm-2 top" div id="chore">CHORES</div>
                <div class="col-sm-2 top" div id="monday">MONDAY</div>
                <div class="col-sm-2 top" div id="tuesday">TUESDAY</div>
                <div class="col-sm-2 top" div id="wednesday">WEDNESDAY</div>
                <div class="col-sm-2 top" div id="thursday">THURSDAY</div>
                <div class="col-sm-2 top" div id="friday">FRIDAY</div>
            </div>
            <!-- Bed -->
          
            <!-- clothes -->
            <div class="row" div id="clothesPicked">
                <div class="col-sm-2 white">Clothes Picked Up <br><button class="btn btn-dark" id="btnChoreDelete" type="submit">Delete</button></div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chmonday" name="chmonday" value="Monday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chtuesday" name="chtuesday" value="Tuesday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chwednesday" name="chwednesday" value="Wednesday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chthursday" name="chthursday" value="Thursday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chfriday" name="chfriday" value="Friday">
                        </form> 
                </div>
            </div>
            <!-- pets fed -->
            <div class="row" div id="petsFed">
                <div class="col-sm-2 white">Feed Pets<br><button class="btn btn-dark" type="submit">Delete</button></div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chmonday" name="chmonday" value="Monday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chtuesday" name="chtuesday" value="Tuesday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chwednesday" name="chwednesday" value="Wednesday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chthursday" name="chthursday" value="Thursday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chfriday" name="chfriday" value="Friday">
                        </form> 
                </div>
            </div>
            <!-- water plants -->
            <div class="row" div id="plantsWatered">
                <div class="col-sm-2 white">Water Plants<br><button class="btn btn-dark" type="submit">Delete</button></div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chmonday" name="chmonday" value="Monday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chtuesday" name="chtuesday" value="Tuesday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chwednesday" name="chwednesday" value="Wednesday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chthursday" name="chthursday" value="Thursday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chfriday" name="chfriday" value="Friday">
                        </form> 
                </div>
            </div>
            <!-- do dishes -->
            <div class="row" div id="days">
                <div class="col-sm-2 white">Dishes <br><button class="btn btn-dark" type="submit">Delete</button></div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chmonday" name="chmonday" value="Monday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chtuesday" name="chtuesday" value="Tuesday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chwednesday" name="chwednesday" value="Wednesday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chthursday" name="chthursday" value="Thursday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chfriday" name="chfriday" value="Friday">
                        </form> 
                </div>
            </div>
            <!-- fold clothes -->
            <div class="row" div id="days">
                <div class="col-sm-2 white">Fold Clothes <br><button class="btn btn-dark" type="submit">Delete</button></div>
                <br>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chmonday" name="chmonday" value="Monday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chtuesday" name="chtuesday" value="Tuesday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chwednesday" name="chwednesday" value="Wednesday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chthursday" name="chthursday" value="Thursday">
                        </form> 
                </div>
                <div class="col-sm-2 white">
                    <form>
                        <input type="checkbox" id="chfriday" name="chfriday" value="Friday">
                        </form> 
                </div>
                <br>
                <br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Add a chore here" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-dark" type="button" id="button-addon2">Add</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>