<nav class="navbar navbar-expand-lg">
  <div class="nav justify-content-end">
    <li class="nav-item">

      
      
      <button type="button" id="logout" class="btn btn-link"><h5>Log Out</h5></button>
    </li>
  </div>
</nav>




<section class="section-about">
  <div class="container-about">
    <div class="columns-is-centered">
      <div class="column-select">
        <div class="module-border-wrap">
          <div class="module">
            {{#each kids}}
            <div class="col-sm-6 select">
              <h5>{{name}}</h5>
              <button class="kidBtn" class="btn btn-dark" data-child-id="{{this.id}}"><img
                  src="styles/images/cryingface.png" height="120px" width="120px"></button>
            </div>
            {{/each}}
            <div class="col-sm-6 add">
              <h5>ADD KID</h5>
              <button id="addaKid" href="/kidSignUp" class="btn btn-dark"><img
                  src="https://svgsilh.com/svg_v2/1970474.svg" height="120px" width="120px"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
