    <div id="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-expand">
                    <nav class="navbar navbar-toggleable-md navbar-inverse">

                        <!-- Logo -->
                        <a href="#" class="navbar-brand" id="logo"><img src="../../public/styles/images/kidMyChores.png"></a>

                        <!-- Navbar -->
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-primary" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-primary" href="#">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1>SELECT KID:</h1>

      <button id="btnKids" class="btn btn-dark"><img
          src="https://publicdomainvectors.org/photos/publicdomainq-0009051hdeplu.png" height="200px"
          width="200px"></button>

    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <button id="btnAdd" class="btn btn-dark"><img src="https://svgsilh.com/svg_v2/1970474.svg" height="200px"
          width="200px"></button>

    </div>
    <div class="col-lg-4"></div>
  </div>
</div>