
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <h1>Chracker</h1>
                <h4>The Chore Tracker</h4>
                <br>
                <br>



                <h3>Sign Up</h3>

                <form class="login">
                    <div class="form-group">
                        <label for="theEmail">Email address</label>
                        <input type="email" class="form-control" id="email-input" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="thePassword">Password</label>
                        <input type="password" class="form-control" id="password-input" placeholder="Create Password">
                    </div>
                    <div class="form-group">
                            <label for="theFamilyname">Family Name</label>
                            <input type="name" class="form-control" id="name-input" placeholder="Enter Family Name">
                        </div>
                    <button type="submit" class="btn btn-dark" id="signBtn">Sign up!</button>
                    <p>Or login <a href="/login">here</a></p>
                </form>
                <br />
                
            </div>
        </div>
    </div>