<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
</head>

<body
    style="background: url(https://ophthalmicedge.org/patient/wp-content/uploads/2019/04/bigstock-Colorful-Cleaning-Set-For-Diff-296805355.jpg); background-size:100%;">



    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <h1>Chracker</h1>
                <h4>The Chore Tracker</h4>
                <br>
                <br>



                <h3>Sign Up</h3>

                <form class="login">
                    <div class="form-group">
                        <label for="theEmail">Email address</label>
                        <input type="email" class="form-control" id="email-input" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="thePassword">Password</label>
                        <input type="password" class="form-control" id="password-input" placeholder="Create Password">
                    </div>
                    <div class="form-group">
                            <label for="theFamilyname">Family Name</label>
                            <input type="name" class="form-control" id="name-input" placeholder="Enter Family Name">
                        </div>
                    <button type="submit" class="btn btn-dark">Sign up!</button>
                    <p>Or login <a href="index.html">here</a></p>
                </form>
                <br />
                
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/login.js"></script>

</body>

</html>