body {
    background-color: #7d5fff;
}


/* --------- Navbar Style ------------ */

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #7d5fff;
}

.header-row {
    font-family: 'McLaren', cursive;
}

#section-logo {
    height: 50vh;
}


/* --------- Form Style ------------ */

.a {
    color: white;
}


/* --------- Footer Style ------------ */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #624aca;
    color: white;
    text-align: center;
}