
/* styling for login/signup page */

h4{
  margin-left: 25%;
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color: purple;
}
h1{
  align-content: center;
  font-size: 120px;
  font-family: 'Fredericka the Great', cursive;
  color: red;


};


