<<<<<<< HEAD
.list-group-item {
    line-height: 2.5;
}


/* -----------------------------------ANA CSS ------------------------------------- */


/* --------- homepage Style ------------ */

.container {
    height: 100vh;
}


/* --------- Navbar Style ------------ */

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #7d5fff;
}


/* ---------Logo Style ------------ */

#section-logo {
    height: 50vh;
}


/* --------- Form Style ------------ */

.col-md-6.col-md-offset-3 {
    font-family: 'McLaren';
}

.btn.btn-default {
    background: #ffaf40;
    color: white;
    box-shadow: 0 8px 6px -6px black;
    position: relative;
    left: 40%;
    font-family: 'McLaren';
}

.btn.btn-default:hover {
    background-color: #a29bfe;
    box-shadow: 0 8px 6px -6px black;
    text-decoration: none;
}


/* --------- Footer Style ------------ */

.row.justify-content-center.row-ion {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #3b2d7a;
    color: white;
    text-align: center;
}


/* --------- kidspage Style ------------ */

.container-fluid {
    height: 100vh;
    overflow: hidden;
    margin: auto;
    font-family: 'Livvic', sans-serif, Arial, Helvetica, sans-serif;
    background-image: url(../images/mountains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.col1 {
    background-color: #cd6133;
    height: 60px;
}

.top {
    background-color: #cd6133
}

.col-sm-2 {
    background-color: #fad390;
}

#chore {
    background-color: #fad390;
    text-align: center;
    margin: 3px;
    min-height: 60px;
}
=======

/* styling for login/signup page */

h4{
  margin-left: 25%;
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color: purple;
}
h1{
  align-content: center;
  font-size: 120px;
  font-family: 'Fredericka the Great', cursive;
  color: red;


};


>>>>>>> f200c3a2fadf82f39f2ed13286a5e4f72344b53b
